<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesBinevenida.css">
    <title>Producción Audiovisual</title>
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar">
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
    <ul id="nav-links" class="nav-links">
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Sedes</a></li>
    </ul>
    <div class="user-session">
        <span th:if="${session.usuarioNombre == null}">
            <a href="/home">Iniciar Sesión</a>
        </span>
        <span th:if="${session.usuarioNombre != null}">
            Hola, <span th:text="${session.usuarioNombre}"></span>!
        </span>
    </div>
</nav>

<!-- Contenido principal -->
<div class="content">
    <h1 style="text-align: center;">Producción Audiovisual</h1>
    <p class="centered-text">Generamos contenido visual impactante y profesional para fortalecer la comunicación y el branding de tu empresa.</p>
    <h2>Elige uno de nuestros servicios:</h2>
    <div class="services-container">
        <div class="service-card" onclick="confirmarRegistro('Produccion de comerciales para televisión y redes sociales')">
            <img src="/images/prodaud/comerciales-televisión.jpg" alt="Producción de comerciales" class="service-image">
            <p>Producción de comerciales para televisión y redes sociales</p>
        </div>

        <div class="service-card" onclick="confirmarRegistro('Grabacion y edición de videos corporativos')">
            <img src="/images/prodaud/videos_corporativos.jpg" alt="Grabación y edición de videos corporativos" class="service-image">
            <p>Grabación y edición de videos corporativos</p>
        </div>

        <div class="service-card" onclick="confirmarRegistro('Fotografia profesional de productos')">
            <img src="/images/prodaud/fotografia-producto.jpg" alt="Fotografía profesional de productos" class="service-image">
            <p>Fotografía profesional de productos</p>
        </div>

        <div class="service-card" onclick="confirmarRegistro('Desarrollo de animaciones y motion graphics')">
            <img src="/images/prodaud/Desarrollo_animaciones.jpg" alt="Desarrollo de animaciones y motion graphics" class="service-image">
            <p>Desarrollo de animaciones y motion graphics</p>
        </div>

    </div>
</div>



<script src="/js/Scriptmk.js"></script>

</body>
</html>
